/*-----basic-fonts-----*/
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding-left: 0;
}

/*-----nav-bar-----*/
header {
    background-color: white;
}

li {
    list-style: none;
}

header.a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0px;
    background-color: #cc7722;
}

.navbar a {
    float: left;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    z-index: 998;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(218, 134, 25);
}

.dropdown .dropbtn {
    font-size: 24px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(218, 134, 25);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 20px;
}

.dropdown-content a:hover {
    background-color: rgba(255, 166, 0, 0.619);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hamburger {
    display: none;
    cursor: pointer;
    z-index: 999;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.content {
    padding-top: 325px;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}

.content-article {
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}

.logo-img {
    position: relative;
    text-align: center;
}

/*-----end nav-bar-----*/

/* Homepage Content - Danny */
#homepage-intro {
    color: #fff;
    padding: 5%;
    opacity: 0; /* Set initial opacity to 0 */
    transition: opacity 3s; /* Set transition effect to 1 second */

  }
  
  #slideshow-image {
    width: auto;
    max-height: 300px;
    padding-top: 5%;
    transition-duration: 1s;
  }
  .content {
    padding-top: 325px;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;  
}
.column-right {
    padding-top: 325px;
    float: right;
    width: 50%;
    height: 550px; 
  }
  .column-left {
    padding-top: 325px;
    float: left;
    width: 50%;
    height: 550px; 
  }

/* End Homepage Content - Danny */

/*-----member-card-styles----- */
.member-card {
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 10px;
}

.member-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.member-card-info {
    position: absolute;
    height: 60%;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #cc7722;
    color: #000000;
    transition: transform 1s ease;
    transform: translateY(200%);
}

.member-card:hover .member-card-info {
    transform: translateY(0);
}
/*-----end-member-card-styles-----*/

/*-----about-card-styles-----*/
.about-card {
    display: inline-block;
    width: 400px;
    height: 350px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.about-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about-card-text {
    padding: 20px;
}

.about-card-text h2 {
    margin-top: 0;
    font-size: 1.5rem;
}

.about-card-text p {
    margin-bottom: 20px;
}

.read-more {
    display: block;
    width: 60%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    background-color: #cc7722;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color:rgb(218, 134, 25);
}
/*-----end-about-card-styles-----*/

/*----split-container----*/
.split-container {
    background-color: black;
    display: flex;
    border: 1px solid #ccc;
}

.split-container-img {
    float: left;
    width: 55%;
    height: auto;
}

.split-container-text {
    width: 45%;
    padding:5%;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.split-container-text h1 {
    font-size: 80px;
    font-weight: bold;
    color: #cc7722;
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Split container - Danny */
.split-container-slideshow {
    float: left;
    width: 55%;
    height: auto;
    
}

.split-container-text p {
    font-size: 30px;
    color: #ffffff;
    display: flex;
}

/*----end-split-container----*/

/*-----desktop-version-----*/
@media(min-width: 769px) {
    header {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
    }
  }
/*-----end-desktop-version-----*/

/*-----mobile-version-----*/
@media(max-width:768px) {
    .content {
        padding-top: 20px;
      }

    .hamburger {
        display: block;
        margin-right: 50px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -110%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #cc7722;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .navbar {
        min-height: 70px;
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 0 24px;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

/*     .split-container-text {
        font-size: 20px;
    } */
    
    .split-container-text{

        font-size: 15px;
        width: 100%;
    }


    .split-container-slideshow {
        float: none;
        display: none;
        width: 0px;

    }

}

/*-----end-mobile-version-----*/

/* Footer */

footer {
    padding: 25px;
    background: #cc7722;
    color: white;
    display: flex;
    flex-wrap: wrap;
  }
  
  .contact,
  .social {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    text-align: center;
  }
  
  footer .social h3 {
    text-align: centre;
  }
  footer .social {
    flex-grow: 2;
  }
  footer .social i {
    font-size: 25px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    margin: 0 8px;
    text-align: center;
  }
  footer .social a {
   color: white;
  }
  
  footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }

/* End Footer */
